@tailwind base;
@tailwind components;
@tailwind utilities;

/* En su archivo CSS global o un módulo CSS */
.game-image {
    max-height: 100px;
    width: 60px;
    object-fit: contain;
    background: white;
    border: 1px solid black;
    box-shadow: 4px 4px 4px lightgrey;
}

.group:hover .group-hover\:flex {
    display: flex;
}
.group-hover\:flex {
    display: none;
}
.relative .group-hover\:flex:hover {
    display: flex;
    background-color: #2b3f5f; /* Mismo color que el fondo de "Partidas" */
}


