.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;    /* centro vertical */
    justify-content: center; /* centro horizontal */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  

.modal-content {
    background-color: #fff;
    width: 500px;                 /* un poco más ancha */
    max-width: 90%;
    max-height: 80vh;            /* más altura visible */
    overflow-y: auto;            /* scroll si hay muchos resultados */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  

  .results-container {
    max-height: 60vh;        /* más altura para la lista de juegos */
    overflow-y: auto;
  }

/* Cada resultado en la lista */
.result-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #ddd;
}

.result-item:hover {
  background-color: #d0e0ff; /* azul clarito */
}

/* Imagen a la izquierda del nombre */
.result-image {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
